/***** Reset *****/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/***** Variables *****/
:root {
  --primary-light: hsl(260, 100%, 95%);
  --primary-medium: hsl(264, 82%, 80%);
  --primary-dark: hsl(263, 55%, 52%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
}

/***** Fonts *****/
@font-face {
  font-family: "Barlow-SemiBold";
  src: url("../fonts/BarlowSemiCondensed-SemiBold.ttf");
}

@font-face {
  font-family: "Barlow-Medium";
  src: url("../fonts/BarlowSemiCondensed-Medium.ttf");
}

/***** Mobile *****/
body {
  font-size: 1.3rem;
}

main {
}

.card {
}

.card__header {
}

.card__header__img {
}

.card__header__container {
}

.card__header__name {
}

.card__header__title {
}

.card__pull-quote {
}

.card__quote {
}

/***** Desktop *****/

/***** Footer ******/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
